body {
    height: 100vh;
    font-family: 'Bebas Neue'
}
*{
    box-sizing :border-box;
} 

section{
    height: 100vh;
    padding :3em;
    
    h1{
        font-size: 5rem;
    }
}

.overlay{
    background-color: black;
    color:white;
    position: absolute;
    top:0;
    left:0;
    width: 100%;

    clip-path: circle(100px at 50% 50%);
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 60ms ease-in-out;  //remove the ease in out

}
span {
    width :60px;
    height: 60px;
    border-radius: 50%;
    background-color: black; 
    display: flex;
    cursor: pointer;
}

svg {
    margin: 1rem;
    fill: white;
}

.is-open{
    clip-path: circle(200% at 100%);
    transition: clip-path 1.3s ease-in-out;
    transition-timing-function: cubic-bezier(1,-0.01,.01,.99);
}

.black{
    padding-top: 0.1em;
    padding-left: 0.1em;
}
.hover-btn2{
    background-color: white;
    margin-left: 0.6em;
    svg{
        fill: black;
    }
}